<template>
    <div>
      <h1>Jogo de Adivinhação das Cidades do Ceará</h1>
      <div v-if="!gameOver">
        <h2>Dica: A cidade começa com a letra "{{ cidade.charAt(0) }}"</h2>
        <input v-model="palpite" type="text" placeholder="Digite o nome da cidade" />
        <button @click="verificarPalpite">Verificar</button>
      </div>
      <div v-else>
        <h2 v-if="acertou">Você acertou! Parabéns!</h2>
        <h2 v-else>Você errou. Tente novamente!</h2>
        <button @click="reiniciarJogo">Reiniciar</button>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        cidades: ["Fortaleza", "Juazeiro do Norte", "Caucaia"],
        cidade: "",
        palpite: "",
        acertou: false,
        gameOver: false,
      };
    },
    mounted() {
      this.selecionarCidade();
    },
    methods: {
      selecionarCidade() {
        const indice = Math.floor(Math.random() * this.cidades.length);
        this.cidade = this.cidades[indice];
      },
      verificarPalpite() {
        if (this.palpite.toLowerCase() === this.cidade.toLowerCase()) {
          this.acertou = true;
        }
        this.gameOver = true;
      },
      reiniciarJogo() {
        this.acertou = false;
        this.gameOver = false;
        this.palpite = "";
        this.selecionarCidade();
      },
    },
  };
  </script>
  